---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<p></p>
<h1>Journal publications</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Venue</th>
    <th>Excerpt</th>
    <th>Citation</th>
  </tr>
  <tr>
    <td><a href="https://www.sciencedirect.com/science/article/pii/S0020025521004679">A three-way clustering approach for novelty detection</a></td>
    <td>Information Sciences</td>
    <td>The paper introduces three-way decisions using game theory to detection unknown unseen class instances as novelty in the data</td>
    <td>Shah, A., Azam, N., Ali, B., Khan, M. T., & Yao, J. (2021). A three-way clustering approach for novelty detection. Information Sciences, 569, 650-668</td>
  </tr>
</table>



