---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<p></p>
<h1>Journal publications</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Venue</th>
    <th>Excerpt</th>
    <th>Citation</th>
  </tr>
   <tr>
    <td><a href="https://www.sciencedirect.com/science/article/pii/S0888613X23002360">A three-way decision approach for dynamically expandable networks</a></td>
    <td>International Journal of Approximate Reasoning</td>
    <td>This paper uses continual learning where it starts from a base CNN architecture and expands incrementally in a class incremental learning setup. Newer class labels along with their training data are introduced sequentially, allowing the model to accommodate new information in order to classify among all seen labels. In the process it expands where three-way decisions comes into play, deciding how much to expand depending on the overlap of the semantic drift expected for learning new labels.</td>
    <td>Wajid, U., Hamza, M., Khan, M. T., & Azam, N. (2024). A three-way decision approach for dynamically expandable networks. International Journal of Approximate Reasoning, 166, 109105.</td>
  </tr>
   <tr>
    <td><a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.02644">Hierarchical lifelong topic modeling using rules extracted from network communities</a></td>
    <td>PLOS ONE</td>
    <td>This paper uses lifelong topic modeling approach (domain incremental learning) from a sequence of domains with some overlapping features (product aspects from user reviews). The model maintain a continual knowledge-base as a network of word communities and share it for domain specific topic modeling. The idea is to improve accuracy and minimize on the need for data by sharing knowledge of shared features across domains.</td>
    <td>Khan, M. T., Azam, N., Khalid, S., & Aziz, F. (2022). Hierarchical lifelong topic modeling using rules extracted from network communities. Plos one, 17(3), e0264481.</td>
  </tr>
  <tr>
    <td><a href="https://www.sciencedirect.com/science/article/pii/S0020025521004679">A three-way clustering approach for novelty detection</a></td>
    <td>Information Sciences</td>
    <td>The paper introduces three-way decisions using game theory to detection unknown unseen class instances as novelty in the data</td>
    <td>Shah, A., Azam, N., Ali, B., Khan, M. T., & Yao, J. (2021). A three-way clustering approach for novelty detection. Information Sciences, 569, 650-668</td>
  </tr>  
</table>

<p></p>
<h1>Conference publications</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Venue</th>
    <th>Excerpt</th>
    <th>Citation</th>
  </tr>
  <tr>
    <td><a href="https://romcir.disco.unimib.it/wp-content/uploads/sites/151/2025/04/paper1.pdf">LLM Based Bilingual Rumor Verification Using Evidence From Authorities</a></td>
    <td>The 5th Workshop on Reducing Online Misinformation through Credible Information Retrieval (ROMCIR) @ ECIR 2025</td>
    <td></td>
    <td></td>
  </tr>
   <tr>
    <td><a href="https://link.springer.com/chapter/10.1007/978-3-031-21753-1_44">Effective Prevention of Semantic Drift in Continual Deep Learning</a></td>
    <td>nternational Conference on Intelligent Data Engineering and Automated Learning (IDEAL)</td>
    <td>The paper introduces angular distance to evaluate semantic drift in continual learning that performs better in comparison to the Minkowski distance measures for network parameters.</td>
    <td>Saadi, K., & Taimoor Khan, M. (2022, November). Effective prevention of semantic drift in continual deep learning. In International Conference on Intelligent Data Engineering and Automated Learning (pp. 456-464). Cham: Springer International Publishing.</td>
  </tr>
</table>



